<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板语法01</title>
</head>
<body>
<div>
    {{.name}}
    <ul>
        {{range $k, $v := .arr}}
        <li>{{$k}}: {{$v}}{{$.arr}}{{$.name}}</li>
        {{end}}
    </ul>
    <div>
        {{"xiao"}}
    </div>
    <h3>
        {{`xiao`}}
    </h3>
    {{"<td></td>"}}
    {{`<td></td>`}}
    {{`<p>这是一个段落</p>`}}
    <br>
    {{.html}}
    {{'a'}}
    <br>
    {{print nil}}
    <br>
    {{if gt 18 19}}
        18大于19
    {{else}}
        18小于19
    {{end}}
    <br>
    {{template "chapter03/test_temp.html"}}
</div>
</body>
</html>